

<footer class="footer">
    <div class="container-fluid d-flex justify-content-between">
      <nav class="pull-left">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="#">
              Commulink
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> </a>
          </li>
        </ul>
      </nav>
      <div class="copyright">
        tout droit<i class="fa fa-heart heart text-danger"></i>
        <a href="http://www.themekita.com">reservé</a>
      </div>
    </div>
  </footer>